*{
    box-sizing: border-box;
}


body{
    background-color:#e65f76;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #ff8795;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}



.header a{
    text-decoration: none;
    position: relative;
    top: 35%;
    right: 100%;
    background-color: #feffe9;
    border-radius: 5px;
    font-size: larger;
}

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.col{
    background-color: #fae5c2;
    width: 25%;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
}

.col img{
    width: 100%;
    height: 60%;
}

.col p{
    text-align: justify;
}

.text-box{
    width: 90%;
    height: 250px;
    background-color: #f2aaaa;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.text-box p{
    font-size: large;
    text-align: center;
}

.footer{
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index:10;
    background-color: #ff8795;
    display: flex;
    justify-content: space-between;
}

.footer a{
    text-decoration: none;
}

.links{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: fit-content;
    position: relative;
    top: 35%;
}

@media screen and (min-width: 300px),
    screen and (min-height:900px) {
    .container{
        display: flex;
        flex-direction: column;
        height: 60%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .col{
        height: 900px;
        width: 100%;
        margin: 5px;
    }
    .col img{
        width: 100%;
    }
    .text-box{
        width: 100%;
        height: auto;
        left: 50%;
        top: 650%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    .footer{
        width: 100%;
    height: 10%;
    position: absolute;
    top: 710%;
    left: 0;
    z-index: 10;
    background-color: #ff8795;
    display: flex;
    justify-content: space-between;
    }
}
@media screen and (max-width:500px),
    screen and (min-height:900px){
    .container{
        display: flex;
        flex-direction: column;
        height: 60%;
        justify-content: space-between;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text-box{
        width: 100%;
        height: auto;
        left: 50%;
        top: 290%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    .footer{
        width: 100%;
    height: 5%;
    position: absolute;
    top: 350%;
    left: 0;
    z-index: 10;
    background-color: #ff8795;
    display: flex;
    justify-content: space-between;
    }
}

